<!-- This page serves to satisfy the unordered list requirement.
     It lists notable combat jumps in no particular order. -->

{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <img src="static/battle.jpg">
        <h2>Airborne Operations:</h2>

        <h3>Operation Varsity</h3>
        <p>
            Operation Varsity is considered the last Airborne Deployment of WWII. In 1945, the Allied forces were
            invading Nazi Germany in an effort to end the war and topple their regime. They faced incredible
            resistance, and the Rhine River provided the Germans with a strong natural defensive barrier.
            In response to this, Operation Varsity was conceived to support the Allied forces crossing
            the river by dropping Airborne Soldiers on the east bank of the Rhine.
        </p>
        <img src="static/varsity.jpg">
        <h3>Operation Overlord</h3>
        <p>
            Operation Overlord is arguably the most famous and renown operation from WWII. This was D-Day, June 6, 1944,
            the Allied landing at Normandy. In support of the amphibians landing on the beaches, three airborne
            divisions would parachute in behind enemy lines. The 101st, 82nd and British 6th Airborne all had crucial
            missions to seize key strategic locations behind German lines. Despite bad weather conditions and German
            anti-air fire scattering their forces, they accomplished their missions and were crucial to the success of D-Day.
        </p>
        <img src="static/dday.jpg">
        <h3>Operation Market Garden</h3>
        <p>
            Operation Market-Garden took place on 17 September, 1944 and is at once regarded as the greatest airborne
            operation in WWII and an overall failure of a mission. The goal was to take control of the Netherlands and
            secure a route into northern Germany. Despite multiple failures of high-level leadership throughout the
            mission causing its failure, the paratroopers who dropped in fought valiantly. They fought bravely
            to secure and hold strategically important bridges that would allow the transportation of Allied troops and equipment.
        </p>
        <img src="static/market.jpg">
    </div>
{% endblock %}