<!-- This page serves to satisfy the ordered list requirement.
     It lists every combat jump in WWII by date. -->

{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <table>
            <tr>
                <th>Date</th>
                <th>Unit</th>
                <th>Operation</th>
            </tr>
            <tr>
                <td>8 Nov 1942</td>
                <td>509th Parachute Infantry Battalion (PIB)</td>
                <td>Torch</td>
            </tr>
            <tr>
                <td>8 Nov 1942</td>
                <td>509th Parachute Infantry Battalion (PIB)</td>
                <td>Torch</td>
            </tr>
            <tr>
                <td>15 Nov 1942	</td>
                <td>509th PIB</td>
                <td>Torch</td>
            </tr>
            <tr>
                <td>24 Dec 1942	</td>
                <td>Headquarters Company, 509th PIB; Two French Paratroopers</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>9 Jul 1943</td>
                <td>3rd Battalion, 504th Parachute Infantry Regiment (PIR);
                    505th Regimental Combat Team (RCT): 505th PIR;
                    456th Parachute Field Artillery Battalion (PFAB);
                    Company B, 307th Engineer Battalion</td>
                <td>Husky I</td>
            </tr>
            <tr>
                <td>10 Jul 1943</td>
                <td>504th RCT: 1st and 2nd Battalion, 504th PIR;
                    376th PFAB; Company A, 307th Engineer Battalion	</td>
                <td>Husky II</td>
            </tr>
            <tr>
                <td>5 Sep 1943</td>
                <td>503th PIR</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>13 Sep 1943</td>
                <td>504th RCT: 504th PIR; 376th PFAB;
                    Company A, 307th Engineer Battalion</td>
                <td>Avalanche</td>
            </tr>
            <tr>
                <td>14 Sep 1943</td>
                <td>505th RCT: 505th PIR, 456th PFAB;
                    Company B, 370th Engineer Battalion</td>
                <td>Avalanche</td>
            </tr>
            <tr>
                <td>14 Sep 1943</td>
                <td>509th (PIB)</td>
                <td>Avalanche</td>
            </tr>
            <tr>
                <td>6 Jun 1944</td>
                <td>82nd Airborne Division: 504th PIR;
                    507th PIR; 508 PIR; 505th RCT: 505th PIR, 456th PFAB,
                    Company B, 307 Engineer Battlion; Pathfinders	</td>
                <td>Overlord, Titanic</td>
            </tr>
            <tr>
                <td>6 Jun 1944</td>
                <td>101st Airborne Division: 326 PIR; 377th PIR;
                    501st PIR; 502nd PIR; 506th PIR	</td>
                <td>Overlord, Titanic</td>
            </tr>
            <tr>
                <td>3 Jul 1944</td>
                <td>1st Battalion, 503rd Parachute Regimental Combat Team (PRCT)</td>
                <td>Table Tennis</td>
            </tr>
            <tr>
                <td>4 Jul 1944</td>
                <td>3rd Battalion, 503rd Parachute Regimental Combat Team (PRCT)</td>
                <td>Table Tennis</td>
            </tr>
            <tr>
                <td>15 Aug 1944</td>
                <td>1st Airborne Task Force: 517th Parachute Combat Team: 509th PIB;
                    551st PIB; 460th PFAB; 463rd PFAB;
                    596th Parachute Combat Engineer Company (PCEC)</td>
                <td>Dragoon</td>
            </tr>
            <tr>
                <td>17 Sep 1944</td>
                <td>82nd Airborne Division: 508th PIR; 505th RCT: 505th PIR; 456th PFAB;
                    Company B, 307th Engineer Battalion; 504th RCT: 504th PIR; 376th PFAB;
                    Company A, 307th Engineer Battalion</td>
                <td>Market Garden</td>
            </tr>
            <tr>
                <td>17 Sep 1944</td>
                <td>101st Airborne Division: 501st PIR; 502nd PIR; 506th PIR</td>
                <td>Market Garden	</td>
            </tr>
            <tr>
                <td>29 Nov - 5 Dec 1944</td>
                <td>11th Airborne Division: Division Headquarters Group;
                    187th Parachute-Glider Infantry Regiment (P/GIR);
                    457th PFAB; 1st Platoon, Company C, 127th Airborne Engineer Battalion;
                    221st Airborne Medical Company; 511th Parachute Signal Company;
                    Reconnaissance Platoon</td>
                <td>Tabletop</td>
            </tr>
            <tr>
                <td>3 Feb 1945</td>
                <td>511th PIR; 457th PFAB</td>
                <td>Shoestring</td>
            </tr>
            <tr>
                <td>16 Feb 1945</td>
                <td>503rd PRCT: 503rd PIB; 462nd PFAB;
                    161st Airborne Engineer Battalion</td>
                <td>Topside</td>
            </tr>
             <tr>
                <td>23 Feb 1945</td>
                <td>511th PIR: Company B, 1st Battalion;
                    Headquarters Company and Light Machine Gun Platoon, 1st Battalion</td>
                <td>Los Banos Prison Camp Raid</td>
            </tr>
             <tr>
                <td>24 Mar 1945	</td>
                <td>17th Airborne Division: 507th PIR;
                    513th PIR; 194th Glider Infantry Regiment;
                    464 PFAB; 466 PFAB; 680th Glider Field Artillery Battalion (GFAB);
                    681st GFAB; 55th Airborne Anti-Aircraft Battalion;
                    139th Airborne Engineer Battalion; 224th Airborne Medical Company;
                    411th Airborne Quartermaster Company;
                    517th Airborne Support Company, 707th Airborne Ordnance Company;
                    Misc small units: MP's, Division Artillery Headquarters,
                    Reconnaissance Platoon, Parachute Maintenance Company</td>
                <td>Varsity</td>
            </tr>
        </table>
    </div>
{% endblock %}