<!-- Update PW page, allows user to update their password to website -->
{% extends 'layout.html' %}

{% block content %}
    <body>
        <div class="container">
            <h1>Update Password Page</h1>
            <br>
            <form action="http://localhost:5000/UpdatePW" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="New Password" name="password_new">
                <input class="btn btn-default" type="submit" value="Update">
                </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>
    </body>
{% endblock %}